.hero-section{
  color: white;
  padding: 5rem;
  height: 70vh;
  background-color:hsla(219,71%,8%,1);
  background-image:
    radial-gradient(at 54% 99%, hsla(254,36%,56%,0.7) 0px, transparent 50%),
    radial-gradient(at 14% 100%, hsla(234,85%,35%,1) 0px, transparent 50%),
    radial-gradient(at 98% 100%, hsla(186,93%,46%,0.6) 0px, transparent 50%);
}

.hero-tagline{
  text-align: center;
  margin-top: 5rem;
  font-size: 2.3em;
}

.question-box{
  border-radius: 10px;
  padding: .5rem;
  width: 20rem;
  text-align: center;
  margin: 2rem auto;
  background-color: white;
  color: black;
}

.question-box h1{

  font-weight: 300;
}

