
.Auth-form-container {
  background-color:hsla(219,71%,8%,1);
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 90vh;
  color:#061023;
}

.Auth-form {
  margin-top: 5rem;
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.text-center{
  margin: 1rem 0 2rem 0;
}

.link-primary{
  color: blue;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.form-group{
  margin-bottom: 1rem;
  display: flex;
}
.title-label{
  width: 7rem;
}

.inputf {
  width: 11rem;
  background: 0;
  border: 0;
  outline: none;
  font-size: .7em;
  transition: padding 0.3s 0.2s ease;
}
.inputf:focus {
  padding-bottom: 5px;
}
.inputf:focus + .line:after {
  transform: scaleX(1);
}
.field {
  position: relative;
}
.field .line {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -8px;
  background: #bdc3c7;
}
.field .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #1abc9c;
}
.sub-btn-cont{
  display: flex;
  justify-content: center;
}

.btn-sub{
  margin-top: 1rem;
}

.forgot-pass-cont{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.forgot-pass-cont a{
  margin-left: 10px;
}
